.rezept .recipe-info {
  align-items: center;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  margin-top: 2px;
}

.rezept .recipe-info .icon {
  height: 22px;
  width: 22px;
}

.rezept .recipe-info .recipe-icon {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rezept .recipe-info .recipe-icon .recipe-level-icons {
  display: flex;
}

.rezept .recipe-info .recipe-icon {
  display: block;
}

.rezept .recipe-info .recipe-prep-icon,.recipe-cook-icon {
   display: block;
   width:22px
}