.rezeptliste-content {
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
  padding: 15px 0 40px;
}

.rezeptliste-empty {
  padding: 15px;
  text-align: center;
  font-family: var(--bold-font-family);
  font-size: 20px;
  text-transform: uppercase;
  width: 100%;
}

.rezeptliste-item {
  width: 286px;
  height: 378px;
  border-radius: 5px;
  overflow: hidden;
  transition: box-shadow .3s, transform .3s;
  background-color: #fff;
  border: 1px solid #d5dce6;
}

.rezeptliste-item:hover {
  box-shadow: 0 0 4px 1px #ccc;
  transform: translate(0,-3px);
}

.rezeptliste.enhanced .rezeptliste-item {
  width: 388px;
  height: 484px;
}

.rezeptliste-item a {
  display: flex;
  flex-flow: column;
  height: 100%;
  text-decoration: none;
}
.rezeptliste-item a:hover {
  color: #172b4d;
}

.rezeptliste-item a:hover .rezeptliste-item-button {
  border-color: #2490d7;
  color: #2490d7;
}

.rezeptliste-item-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 18px 10px 10px 10px;
}

.rezeptliste-item-image {
  display: block;
  width: 100%;
  height: 214px;
}

.rezeptliste.enhanced .rezeptliste-item-image {
  height: 290px;
}

.rezeptliste-item-image img {
  width: 100%;
}

.rezeptliste-item-title {
  font-family: var(--bold-font-family);
  color: #172b4d;
  font-size: 20px;
  text-overflow: ellipsis;
  margin-bottom: 10px;;
}

.rezeptliste-item-meta {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.rezeptliste.enhanced .rezeptliste-item-meta {
  display: none;
}

.rezeptliste-item-time {
  display: flex;
  gap: 5px;
}

.rezeptliste-item-level {
  display: flex;
  gap: 2px;
}

.rezeptliste-item-level svg, .rezeptliste-item-time svg {
  width: 22px;
  height: 22px;
}

.icon-recipe-level-empty svg {
  fill: #c4c9d2;
}

.rezeptliste-item-button {
  display: none;
}

.rezeptliste.enhanced .rezeptliste-item-button {
  display: block;
  border: 1px solid #d5dce6;
  color: #2490d7;
  transition: border .3s,color .3s;
  font-family: var(--bold-font-family);
  border-radius: 5px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 0;
  font-size: 14px;
}