/* block specific CSS goes here */

main .hero-container > div {
    max-width: unset;
}
  
main .hero-container {
    padding: 0;
}
  
main .hero {
    position: relative;
    padding: 32px;
    min-height: 300px;
}


main .hero img {
    object-fit: cover;
    box-sizing: border-box;    
    display: block;
    border: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    transition: opacity .3s;
    opacity: 1
}

