.table-of-contents div {
    display:flex;
}

.table-of-contents .toc-button {
    background-color: transparent;
    border: 1px solid #5c6a82;
    border-radius: 16px;
    margin-bottom: 8px;
    padding: 0 16px;
}

.table-of-contents .toc-button:not(:last-child) {
    margin-right: 8px;
}

.table-of-contents .toc-title {
    margin: 5px;
    font-size: .875rem;
    display: inline-block;
    vertical-align: baseline;
    color: #5c6a82;
}

