header {
  overflow: hidden;
}

header .header-meta-wrapper {
  background-color: #f2f5f8;
  height: 32px;
}

header .header-tools-wrapper,
header .header-tools {
  height: 122px;
}

header .header-navigation-wrapper,
header .header-navigation {
  height: 46px;
}

header .header-meta {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 31px;
  text-transform: uppercase;
  color: #5c6a82;
  font-family: var(--bold-font-family);
}

header .header-meta a {
  color: #5c6a82;
  text-decoration: none;
}

header .header-navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header .header-navigation ul li {
  display: inline;
}

header .header-meta .header-meta-navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header .header-meta .header-meta-navigation ul li {
  display: inline;
  padding-left: 40px;
}

header .header-meta .header-meta-navigation ul li:first-child {
  padding-left: 0;
}

header .header-tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-tools .header-tools-logo {
  margin-right: 24px;
}

header .header-tools .header-tools-logo picture>img {
  width: 80px;
  height: auto;
}

header .header-tools .header-tools-search {
  flex: 1;
}

header .header-tools .header-tools-search .searchbox {
  position: relative;
  max-width: 698px
}

header .header-tools .header-tools-search .icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

header .header-navigation svg {
  width: 22px;
  height: 22px;
  fill: currentcolor;
  margin-right: 6px;
}

header .header-tools .header-tools-search .icon svg {
  width: 20px;
  height: 20px;
  fill: #172b4d;
}

header .header-tools .header-tools-search input {
  background-color: #f2f5f8;
  border: 1px solid #f2f5f8;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 0 49px;
  height: 60px;
  font-size: 16px;
  color: #172b4d;
  text-overflow: ellipsis;
}

header .header-tools .header-tools-storepicker {
  width: 107px;
  text-align: center;
}

header .header-tools .header-tools-cart {
  width: 124px;
  text-align: center;
}

header .header-navigation a {
  display: inline-flex;
  color: #172b4d;
  font-family: var(--bold-font-family);
  text-decoration: none;
  text-transform: uppercase;
  transition: fill .3s, color .3s;
  padding: 14px 15px 0;
}

header .header-tools .header-tools-storepicker a,
header .header-tools .header-tools-cart a {
  color: #172b4d;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 20px;
  font-family: var(--bold-font-family);
  transition: fill .3s, color .3s;
}

header .header-tools .header-tools-storepicker .icon svg,
header .header-tools .header-tools-cart .icon svg {
  width: 25px;
  height: 25px;
  fill: currentcolor;
  display: inline-block;
  position: relative;
  bottom: -4px;
}

header .header-navigation {
  font-size: 14px;
}

header .header-navigation a:hover, header .header-tools .header-tools-storepicker a:hover, header .header-tools .header-tools-cart a:hover {
  color: #2490d7;
}

header .header-meta,
header .header-tools,
header .header-navigation {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  header .header-meta,
  header .header-tools,
  header .header-navigation {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  header .header-meta,
  header .header-tools,
  header .header-navigation {
    max-width: 928px;
  }
}

@media (min-width: 1440px) {
  header .header-meta,
  header .header-tools,
  header .header-navigation {
    max-width: 1232px;
  }
}